.activity-container {
  /* border: 1px solid beige; */
  display: grid;
  max-width: 1200px;
  margin: auto;
}

.form-container {
  display: grid;
  max-width: 700px;
}

.input {
  margin: 10px 0 30px;
  line-height: 24px;
}

.flags-list {
  display: grid;
}

.flags-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.flags-item img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
