.country-container {
  display: grid;
  max-width: 1200px;
  margin: auto;
}

.country-wrapper {
  display: flex;
}

.country-img {
  width: 450px;
  height: 250px;
  border-radius: 4px;
  object-position: center;
  object-fit: cover;
  margin-right: 30px;
}

.country-details {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.capital-wrapper {
  display: flex;
}

.capitals {
  margin-right: 5px;
}

.capital-wrapper li {
  /* margin-right: 10px; */
}

.list-activity {
}

.item-activity {
  margin-bottom: 20px;
}

.error-header {
  margin-top: 60px;
}
