:root {
  --body: #181818;
  --text: #fff;
  --content: #1e1e1e;
  --green: #00e472;
  --input: #303030;
  --error: #df5555;
}

/* reset styles */
body,
p,
a,
ul,
li h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--body);
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

li {
  list-style-type: none;
}

input,
select {
  background: var(--input);
  color: var(--text);
  border: none;
  border-radius: 4px;
  padding: 13px 20px;
  font-family: inherit;
  font-size: 100%;
  line-height: 24px;
}

input::placeholder {
  color: var(--text);
}

label {
  font-size: 19px;
}

.btn-primary {
  background-color: var(--green);
  color: var(--content);
  border-radius: 4px;
  padding: 13px 20px;
  font-size: 17px;
  width: fit-content;
  cursor: pointer;
}

.btn-secondary {
  color: var(--green);
  background-color: var(--content);
  border: solid 1px var(--green);
  border-radius: 4px;
  padding: 10px 13px;
  font-size: 17px;
  cursor: pointer;
}
.btn-small {
  min-width: 32px;
  padding: 5px;
}

.btn-selected {
  background-color: var(--green);
  color: var(--body);
}

.error {
  color: var(--error);
}
