.container {
  max-width: 1200px;
  margin: auto;
  /* padding: 0 20px; */
}

.search {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.search-container {
  display: flex;
}

.inputSearch {
  width: 400px;
  margin-right: 10px;
}

.reset {
  background: url("../../images/refresh.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 15px;
  border: none;
}

.filter {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  margin: 20px 0 60px;
}

.list-cards {
  /* border: 1px solid green; */
  display: grid;
  margin-bottom: 30px;
}

.card {
  border-radius: 4px;
  margin: 0;
  opacity: 0.8;
  transition: all 0.3s;
}
.card-img {
  object-fit: cover;
  object-position: center;
}

.name {
  font-size: 14px;
  color: var(--text);
  z-index: 2;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 1;
}

.region {
  font-size: 11px;
  margin-bottom: 15px;
  color: var(--text);
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 5px 0;
}

.pagination-button-container {
  display: flex;
  justify-content: center;
  gap: 0 6px;
  margin-bottom: 30px;
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
}

@media screen and (min-width: 600px) {
  .list-cards {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px) {
  .list-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .card {
    height: 250px;
  }

  .card-img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }
}
