.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  right: 20px;
  height: 30px;
  width: 280px;
  padding: 20px;
  border-radius: 4px;
  color: var(--body);
  transition: 0.3s ease;
  z-index: 14;
}

.error {
  background-color: var(--error);
}

.success {
  background-color: var(--green);
}

.wrapper img {
  margin-right: 10px;
}

@keyframes toastPosition {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
