.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.wrapperContent {
  margin-bottom: 50px;
}

.title {
  font-size: 40px;
  line-height: 3rem;
  margin-bottom: 40px;
}

.btn {
  padding: 13px 40px;
}

.img {
  max-width: 200px;
  margin: 50px 0 20px;
  opacity: 0.85;
  animation: rotation 50s infinite linear;
}

.wrapper :nth-child(2) {
  order: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }

  .wrapper :nth-child(2) {
    order: 1;
  }

  .wrapperContent {
    margin: 0;
  }

  .img {
    margin: 0;
    max-width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    font-size: 60px;
    line-height: 4rem;
  }
}
