.nav {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30px;
  margin-right: 8px;
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.social-icon {
  margin-left: 10px;
}

.link-green {
  color: var(--green);
  border: solid 1px var(--green);
  border-radius: 4px;
  padding: 10px 13px;
}

.link-white {
  color: var(--text);
}
