.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}

.wrapperLogo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 30px;
  margin-right: 8px;
}

.link {
  color: var(--text);
  font-size: 18px;
}

.navlink {
  font-size: 14px;
}

.socialIcon {
  margin-left: 10px;
}

@media screen and (min-width: 800px) {
  .navlink {
    font-size: 16px;
  }
}
