.container-loader {
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouncer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}

.bouncer div {
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 50%;
  animation: bouncer 0.5s ease infinite alternate;
}

.ball {
  margin: 0 3px;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
